<div class="container">
  <h1>Lists Movies</h1>
    <small> <%= link_to  "Add new list", lists_new_path %><br/>
  <%= @lists.each do |element|%>
    <ul>
      <li class="card">
        <%= link_to element.name, lists_show_path(element) %> 
      </li>
    </ul>
  <%end%>
</div>